<!DOCTYPE html>
<html>

<head>
    <meta="utf-8">
        {% if title %}
        <title>{{ title }} - 博客</title>
        {% else %}
        <title>欢迎来到博客</title>
        {% endif %}
        <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
        <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink mdui-loaded mdui-typo">
    <div class="mdui-container">
        <div>博客 :
            <a href="{{ url_for('index') }}">首页</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">登录</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">用户中心</a>
            {% endif %}
            <a href="{{ url_for('logout')}}">退出</a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ur>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ur>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
